{# this is some other template that you want to display #}
{% extends "pricealert\base.html" %}
{% block content %}
<div class="jumbotron">
  <h2 class="sub-header" style="color: #FCA205; font-family: 'Lobster';">Price Alert Console <a href="/admin/pricealert/pricealert/add/" target="_blank"><img src = 'http://static.lse.co.uk/images/icons/ShareNav/alerts01.png' height='45'/></a></h1>

  <small><b>Source:</b> <a href="https://rates.fxcm.com/RatesXML" target="_blank">https://rates.fxcm.com/RatesXML</a></small>
  &nbsp;&nbsp;<small><b>Symbol:</b> <a href="/pricealert/">ALL</a> - <a href="/pricealert/filter/EURUSD">EURUSD</a> - <a href="/pricealert/filter/GBPUSD">GBPUSD</a> - <a href="/pricealert/filter/USDJPY">USDJPY</a> - <a href="/pricealert/filter/AUDUSD">AUDUSD</a> - <a href="/pricealert/filter/NZDUSD">NZDUSD</a> - <a href="/pricealert/filter/USDCAD">USDCAD</a> - <a href="/pricealert/filter/EURGBP">EURGBP</a> - <a href="/pricealert/filter/EURJPY">EURJPY</a> - <a href="/pricealert/filter/GBPJPY">GBPJPY</a> - <a href="/pricealert/filter/GBPJPY">AUDNZD</a></small>
  <p/>

  <div class="table-responsive">
    <table class="table table-striped" style="font-size: 13px;">
      <thead>
        <tr>
          <th>#</th>
          <th>Symbol</th>
          <th>Effective Date</th>
          <th>Alert Setup</th>
          <th>Alert Date (Latest)</th>
          <th>Alert Price</th>
          <th>Remark</th>
        </tr>
      </thead>
      <tbody>
      
        {% if alert_list %}
            {% for m in alert_list %}
                <tr>
                  <td style="vertical-align: middle;"><a href="/admin/pricealert/pricealert/{{ m.id }}/change/" target="_blank">{% load static %}<img src="{% static "edit.png" %}" /></a></td>
                  <td style="vertical-align: middle;">
                    {{ m.symbol }} </td>
                  <td style="vertical-align: middle;" align="left">{{ m.effective_date }}</td>
                  <td style="vertical-align: middle;">{{ m }}</td>
                  <td style="vertical-align: middle;">{{ m.alert_date }}</td>
                  <td style="vertical-align: middle;">
                    {{ m.alert_price }}
                  </td>
                  <td style="vertical-align: middle;">N/A</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="100%">No alerts are available.</td></tr>
        {% endif %}
      

      </tbody>
    </table>
  </div>
</div>


{% endblock %}


